* {
  font-family: arial;
}
main{
  display:flex;
}

article{
  margin-left: 50px ;
  margin-right: 50px;

}

body{
  background-color: rgb(247, 245, 245);
}

#main-title{
  background-color: rgb(16 58 121 / 95%);
  color: whitesmoke;
  padding: 1px ;
  margin-bottom: 50px;
  text-align: center;
  font-size: 35; 
}

#buffer{
  height: 25px;
  width: 500px ;
  background-color: lightblue;
  margin-left: 325px;
  
}


#second-title{
  font-size: large ;
  text-align: center;
  margin-left: 60px;
}

#footer{
  height: 150px;
  background-color: rgb(16 58 121 / 95%);
}

ul{
  list-style-type: none;

}

h3{
  font-size: xx-large;
}

#another-article{

  margin: 0px ;
}

#smaller{
  margin: 0px;
  font-size: xx-small;

}